/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  background-color: #a9bfc3;
}
button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(100%, 1170px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/*******************************/
/*! NAV-BAR */
/*******************************/

.burger-btn {
  display: none;
}

.nav-list-menu.show {
  display: flex;
}

.nav-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  z-index: 3;
  color: #fff;
}

.logo-box {
  padding: 20px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 42px;
}

.nav-item {
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.8px;
}

/*******************************/
/*! HERO */
/*******************************/

.image-in-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* object-fit: fill; */
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.hero-container {
  position: relative;
  z-index: 2;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 460px;
  top: 240px;
  left: -160px;
  z-index: 2;
}

.hero-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(80px, 6.4vw, 85px);
  letter-spacing: 1.2px;
  text-shadow: 0px 4px 4px rgba(230, 153, 11, 0.5);
  color: #fff;
  margin-bottom: 32px;
  z-index: 2;
}

.hero-content {
  position: relative;
  max-width: 560px;
  z-index: 2;
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 2vw, 20px);
  color: #ffffffb9;
  letter-spacing: 0.6px;
  line-height: 28px;
}

/*? BUTTON */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 45px;
}

.btn button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #fff;
}

.btn-about {
  border: 2px solid #fff;
  padding: 15px 55px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 0.04em;
}

.btn-gallery {
  border: 2px solid #fff;
  padding: 15px 55px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 0.04em;
}

/*? ARROWS */

.icons-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
  right: -32px;
  top: 250px;
  z-index: 2;
}

.icon-chevron-right {
  font-size: 42px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 12px;
  color: #fff;
}

.icons-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: #fff;
}
.icons-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  transform: rotate(180deg);
  color: #fff;
}

.btn-about {
  position: relative;
  z-index: 2;
}

.btn-gallery {
  position: relative;
  z-index: 2;
}

/*******************************/
/*! ABOUT */
/*******************************/

.about-section {
  padding: 90px 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #333;
  margin-bottom: 45px;
}

.about-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  letter-spacing: 0.8px;
  line-height: 1.6;
}

.about-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  padding: 14px 55px;
  border: 2px solid #000;
  letter-spacing: 0.04em;
  border-radius: 50px;
  margin-top: 45px;
}

/*******************************/
/*! GALLERY */
/*******************************/

.gallery-sectio {
  padding: 90px 0;
}
.gallery-container {
}

.gall-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #333;
  margin-bottom: 60px;
  text-align: center;
}

.gallery-img {
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 36px;
  padding: 30px 0;
}

.gallery-wrapper img {
  width: 430px;
  height: 560px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 10px 10px 11px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

/*? MODAL-IMG */

/* The Modal (background) */
.modal-content {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.block {
  display: none; /* Сховати за замовчуванням */
}

.block.show {
  display: block; /* Показати модалку */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

.img-modal-wrapper {
  display: flex;
  justify-content: center;
}

#modal-img {
  max-height: 80vh;
}

/*******************************/
/*! MODAL */
/*******************************/

/*? MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 95%;
  height: 95%;
  max-width: 650px;
  max-height: 450px;

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 15px 15px;
  border-radius: 4px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  transform: translate(-50%, -50%) scale(1);
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0 2); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border {
  height: 100%;
  border: 1px solid rgb(255, 187, 0);
  border-radius: 8px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 18px;
  border-radius: 50%;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.459);

  cursor: pointer;
}

.icon-close {
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.527);
}

.icon-close:hover,
.icon-close:focus {
  color: #fff;
}

.modal-button:hover,
.modal-button:focus {
  border: transparent;
  background-color: #404bbf;
}

.content-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  height: 100%;
  padding: 12px;
}

.modal-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #d39014;
  margin-bottom: 25px;
}

.modal-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.8px;
  line-height: 1.6;
}

/*******************************/
/*! FORM */
/*******************************/

.form-section {
  padding: 90px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-weight: 600;
  font-size: clamp(28px, 3vw, 30px);
  text-align: center;
  margin-bottom: 14px;
  color: #333;
}

.contact-subject {
  font-size: clamp(12px, 3vw, 14px);
  letter-spacing: 1.2px;
  line-height: 1.3;
  padding: 18px 0;
  color: #333;
  /* border: 1px solid red; */
}

.form-content {
  max-width: 650px;
  /* margin-bottom: 32px; */
}

.form {
  min-width: 650px;
}

.mesg {
  display: block;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

input,
textarea {
  display: block;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;

  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  resize: none;
  transition: border-color 250ms;
}

input:focus,
textarea:focus {
  border-color: rgb(48, 43, 99);
  outline: none;
}

textarea {
  padding: 10px;
}

input {
  height: 30px;
  padding: 10px;

  resize: none;
}

input[type="submit"] {
  border: none;
  background-color: #302b63;
  border-radius: 4px;

  font-weight: 500;
  /* font-size: 16px; */
  color: #fff;
  padding: 22px;
  line-height: 0;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: rgb(48, 43, 99, 0.8);
  transition: 250ms ease;
}

.img-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-contact img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 22px;
  box-shadow: 9px 11px 23px -5px rgba(0, 0, 0, 0.75);
}

/*******************************/
/*! FOOTER */
/*******************************/

.footer {
  padding: 90px 0;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
